.flexbox {
    display            : -webkit-box;
    height             : 47px;
    background-color   : rgb(205, 231, 194);
    -webkit-box-shadow : inset 0 5px 5px #888;
}

.opaque-list-item {
    background-color : rgba(247, 247, 247, 1);
    z-index          : 99;
    position         : absolute;
    top              : 0;
}

.list-icon {
    margin              : -5px 5px 0;
    background-position : center center;
    background-repeat   : no-repeat;
    width               : 32px;
    height              : 32px;
    margin-top          : 7px;
}


.target-dismiss {
    position : absolute;
    right    : 10px;
}

